body {
  padding-top: 50px;
  background-image: url(https://images.wallpapersden.com/image/download/huawei-4k-stock-abstract_a2toaGuUmZqaraWkpJRobWllrWdma2U.jpg);
  text-align: center;
  font-family: 'Dancing Script', cursive;
}
h1 {
  padding-top: 50px;
  color: white;
  margin: 0 auto 0 auto;
  width: 10%
}
.my-image {
  height: 300px;
  width: 300px;
}
h2 {
  color: white;
  font-family: 'Hachi Maru Pop', cursive;
}
h3 {
  color: white;
  font-family: 'Hachi Maru Pop', cursive;
}
h4 {
  color: white;
  font-family: 'Annie Use Your Telescope', cursive;
}
.p5 {
  color: white;
  font-family: 'Annie Use Your Telescope', cursive;
}
.p6 {
  color: ehite;
  font-size: 0.75rem;
  font-style: normal;
  font-family: monospace;
}
.p2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
}
.footer-link {
  font-family: monospace;
  font-size: 20px;
}
.email {
  font-family: monospace;
  font-size: 20px;
}
p {
  color: white;
  font-family: 'Architects Daughter', cursive;
}

.top-cloud {
  padding-top: 10px;
  position: absolute;
  right: 400px;
}

.bottom-cloud {
  padding-top: 100px;
  position: absolute;
  left: 250px;
}
.top-cloud2 {
  padding-bottom: 50px;
  position: absolute;
  right: 300px;
}
