body {
  padding-top: 50px;
  background-image: url(https://images.wallpapersden.com/image/download/huawei-4k-stock-abstract_a2toaGuUmZqaraWkpJRobWllrWdma2U.jpg);
  text-align: center;
  font-family: 'VT323', monospace;
}
h1 {
  padding-top: 50px;
  color: white;
  margin: 0 auto 0 auto;
  width: 10%
}
my-image {
  height: 300px;
  width: 300px;
}
h2 {
  color: white;
  font-family: 'Hachi Maru Pop', cursive;
}
h3 {
  color: white;
  font-family: 'Hachi Maru Pop', cursive;
}
h4 {
  color: white;
  font-family: 'Annie Use Your Telescope', cursive;
}
p5 {
  color: white;
  font-family: 'Annie Use Your Telescope', cursive;
}
p6 {
  color: white;
  font-size: 0.75rem;
  font-style: normal;
  font-family: monospace;
}
skills {
  color: white;
  font-size: 0.75rem;
  font-style: normal;
  font-family: monospace;
}
p2 {
  color: white;
  font-family: 'Bebas Neue', cursive;
}

btclink {
   background: #69F63D;
   background-image: -webkit-linear-gradient(top, #69F63D, #021433);
   background-image: -moz-linear-gradient(top, #69F63D, #021433);
   background-image: -ms-linear-gradient(top, #69F63D, #021433);
   background-image: -o-linear-gradient(top, #69F63D, #021433);
   background-image: -webkit-gradient(to bottom, #69F63D, #021433);
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   color: #FFFFFF;
   font-family: Courier New;
   font-size: 31px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 0 0 20px 0 #000000;
   -moz-box-shadow: 0 0 20px 0 #000000;
   box-shadow: 0 0 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

btclink:hover {
   border: solid #379592 1px;
   background: #010C0F;
   background-image: -webkit-linear-gradient(top, #010C0F, #379592);
   background-image: -moz-linear-gradient(top, #010C0F, #379592);
   background-image: -ms-linear-gradient(top, #010C0F, #379592);
   background-image: -o-linear-gradient(top, #010C0F, #379592);
   background-image: -webkit-gradient(to bottom, #010C0F, #379592);
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   text-decoration: none;
}
footer-link {
  font-family: monospace;
  font-size: 20px;
}
email {
  font-family: monospace;
  font-size: 20px;
}
p {
  color: white;
  font-family: 'Architects Daughter', cursive;
}

top-cloud {
  padding-top: 10px;
  position: absolute;
  right: 400px;
}

bottom-cloud {
  padding-top: 100px;
  position: absolute;
  left: 250px;
}
top-cloud2 {
  padding-bottom: 50px;
  position: absolute;
  right: 300px;
}
